pipeline/Lab4 - Generate NYC Image Metadata.json
{
	"name": "Lab4 - Generate NYC Image Metadata",
	"properties": {
		"activities": [
			{
				"name": "CopyImageFiles",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "MDWResources_NYCImages_Binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SynapseDataLake_NYCImages_Binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetImageFileList",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "CopyImageFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SynapseDataLake_NYCImages_Binary",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachImage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetImageFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetImageFileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetImageMetadata",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"ImageMetadataContainerUrl": {
				"type": "String",
				"defaultValue": "https://synapsedatalake6zvtj.blob.core.windows.net/nycimages/ I"
			}
		},
		"annotations": []
	}
}